/* 创建bfc */
.box {
  background-color: rgb(224, 206, 247);
  border: 5px solid rebeccapurple;
  overflow: auto;
}

.float {
  float: left;
  width: 200px;
  height: 150px;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
}

/* demo 2 
在父容器添加伪元素，撑起容器高度
*/
.wrap {
  width: 200px;
  border: 1px solid #333;
}
.wrap:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.left {
  float: left;
  background: blue;
  height: 100px;
  width: 100px;
}
.right {
  float: left;
  background: red;
  height: 50px;
  width: 100px;
}
